 #form1 > a
 {
  display: block;
  width:350px;
  height:34px;
}

#error
{
  display:none;
  margin-top:15px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  color:red;
}
#log_footer
{
  position:fixed;
  bottom:0px;
  width:100%;

}

footer div span
{
  color:red;

}

footer>div
{
  text-align:right;
}

.navbar a span
{
  margin-left:-10px;
}


.w_right > p
{
  margin-top:-4px;
  font-size:14px;

}


 #gb {
      display:block; 
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      color:white;
}